.banner_2 {
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(76,39,105,1) 00%, rgba(226,79,149,1) 25%, rgba(247,227,181,1) 50%);
    width: 100%;
    height: 100vh;
    position: absolute;
    perspective: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax_layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    img{
        display: block;
        position: absolute;
        bottom: 0;
        // object-fit: cover;
    }
}

.parallax__cover{
    background: #2A215C;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 2;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
    $x: ($parallax__layers - $i) / 2;
    .parallax__layer__#{$i}{
        transform: translateZ(-100 * $x#{px}) scale($x + 1);
        }
}   